.gallery-container {
    height: 40vh;
    min-height: 200px;
    max-height: 400px;
    width: 100%;
    display: inline-block;
    overflow-x: scroll;
    text-align: center;
    vertical-align: middle;
    text-wrap: nowrap;
}

.gallery-container::-webkit-scrollbar {
    display: none;
  }

.image-container {
    display: inline-block;
    margin: 10px;
    text-align: center;
    height: 80%;
    width: fit-content;
    border-radius: 15px;
    border: 4px dotted black;
    overflow: hidden;
}

.image-container img {
    height: 100%;
    justify-self: center;
}

.overlay {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    width: 100%;
    height: 100%;
    position: static;
    top: 0;
    left: 0;
    z-index: 2;
    text-wrap: wrap;
}