.content {
    padding: 20px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content h2 {
    font-weight: 600;
}

.content p {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}