.content {
    padding: 20px 50px 20px 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content p {
    padding: 10px 0px;
}

.content li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content h2 {
    margin-bottom: 20px;
    font-weight: 600;
    justify-content: center;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 35px;
}