:root {
    --color1: #053655;
    --color2: #426275;
}


p {
    text-align: justify;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    /* overflow: hidden; */
    margin-top: 56px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.tentang {
    background-color: var(--color1);
    color: white;
}