:root {
    --color1: #053655;
    --color2: #ffffff;
}


p {
    text-align: justify;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.main {
    /* overflow: hidden; */
    margin-top: 56px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.home h2 {
    text-align: center;
    font-size: 36px;
    word-spacing: 0px;
}

.tentang {
    background-color: var(--color1);
    color: white;

}