:root {
    --color1: #053655;
    --color2: #426275;
}

.navbar {
    background-color: var(--color1);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar a {
    display: block;
    float: left;
    padding: 16px 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

@keyframes hoverfade {
    from {background-color: var(--color1);}
    to {background-color: var(--color2);}
}

.navbar a:hover {
    animation: hoverfade 250ms ease-out forwards;
}