.navbar {
    background-color: #053755;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar a {
    display: block;
    float: left;
    padding: 16px 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    background:#426275;
}

.switch {
    
}